/*Kiểu cái styling CHUNG CHUNG NHẤT  */
.page {
  padding: 16px 16px 96px 16px;
  background-color: linear-gradient(180deg, #16D47E 0%, #1D9490 30.8%, #1A3E99 54.8%, #000000 85.8%);
}

.section-container {
  padding: 16px;
  background: white ;
  border-radius: 8px;
  margin-bottom: 24px;
}

.zaui-list-item {
  cursor: pointer;
}





